body{
	margin-left: 10px;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

td{
	text-align: center;
}
.splittable{
	background-color: black;
	color: white;
	border-collapse: collapse;
}

.splittable th, .splittable td{
	border: 1px solid white;
}