<div ng-controller='Today'>
	<h1>{{date | date: 'MMMM d, yyyy'}}</h1>
	<div id = 'search_bars'>
		<input type = 'text' placeholder = 'Search Players' ng-model='search_table'>
		<input type = 'text' placeholder = 'Price max...' ng-model='price_max'>
		<input type = 'text' placeholder = 'Position...' ng-model='pos_search'>
		<input type = 'text' placeholder = 'Team...' ng-model='team_search'>
	</div>
	<table class = 'table table-striped'>
		<tr>
			<th ng-click='changeSorting("name")'>Player</th>
			<th ng-click='changeSorting("pos")'>Position</th>
			<th ng-click='changeSorting("price")'>Price</th>
			<th ng-click='changeSorting("h_a")'>Home/Away</th>
			<th ng-click='changeSorting("team")'>Team</th>
			<th ng-click='changeSorting("team_pace")'>Pace</th>
			<th ng-click='changeSorting("combo_pace")'>Combo Pace</th>
			<th ng-click='changeSorting("opp_pace")'>Opponent Pace</th>
			<th ng-click='changeSorting("opp")'>Opponent</th>
			<th ng-click='changeSorting("opp_rk")'>Opp. Rank v Pos</th>
			<th ng-click='changeSorting("fppg")'>DK PPG</th>
			<th ng-click='changeSorting("mpg")'>Minutes per Game</th>
			<th ng-click='changeSorting("games")'>Games Played</th>
		</tr>
		<tr ng-repeat='player in players | filter: {name: search_table} | filter: isLessThan | filter: {pos: pos_search} | orderBy:sort.column:sort.descending | filter: {team: team_search}'>
				<td ng-mouseenter = 'show_player(player.name)'><p pop-over>{{player.name}}</p></td>
				<td>{{player.pos}}</td>
				<td>${{player.price}}</td>
				<td>{{player.h_a}}</td>
				<td>{{player.team}}</td>
				<td>{{player.team_pace}}</td>
				<td>{{((player.team_pace + player.opp_pace) /2 | number: fractionSize: 1)}}</td>
				<td>{{player.opp_pace}}</td>			
				<td>{{player.opp}}</td>
				<td>{{player.opp_rk}}</td>
				<td>{{player.fppg}}</td>
				<td>{{player.mpg}}</td>
				<td ng-mouseenter = 'show_games(player.name)'><p game-log>{{player.games}}</p></td>
			</tr>
	</table>
	<script type="text/ng-template" id = 'popover_template.html'>
	<table class = 'table table-striped splittable'>
		<tr>
			<th>Group</td>
			<th>Split</td>
			<th>FPPG</td>
			<th>MPG</td>
		</tr>
		<tr ng-repeat='split in splits'>
			<td>{{split.group}}</td>
			<td>{{split.split}}</td>
			<td>{{split.fppg}}</td>
			<td>{{split.mpg}}</td>
		</tr>
	</table>
	// </script>
	<script type="text/ng-template" id = 'gamelog_template.html'>
	<table class = 'table table-striped splittable'>
		<tr>
			<th>Date</td>
			<th>Opp</td>
			<th>FPPG</td>
			<th>PPG</td>
		</tr>
		<tr ng-repeat="game in games | orderBy:'game_date':true">
			<td>{{game.game_date | date: "MMM dd, yyyy"}}</td>
			<td>{{game.opp}}</td>
			<td>{{game.fppg}}</td>
			<td>{{game.pts}}</td>
		</tr>
	</table>
	</script>
</div>